body { /*sets basic features for use throughout the html*/
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { /* defines the features of any link elements*/
    float: left;
    margin-right: 30px;
    font-size: 20pt;
    color: lightblue;
    margin-top: auto;
    margin-bottom: auto;
}

.bg-az-blue { /*sets the background color for any marked elements*/
    background-color: rgb(13, 36, 75);
}

.bg-az-red { /*sets the background color for any marked elements*/
    background-color: rgb(169, 11, 37);
}

.text-az-blue { /*sets the color for any marked elements*/
    color: rgb(13, 36, 75);
}

.text-az-red { /*sets the color for any marked elements*/
    color: rgb(169, 11, 37);
}

.nav-wrapper { /*sets the height and margin for all marked elements*/
    height: 65px;
    margin-bottom: 25px;
}

.container {
    flex-direction: column;
}

input { /* defines the features of any input elements*/
    box-sizing: border-box;
    width: 500px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

h2 { /* defines the features of any h2 elements*/
    font-style: bold;
}

li { /* defines the features of any li elements*/
    color: red;
}

#formErrors { /*initializes the formErrors class to not display*/
    display: none;
}

#btnSignUp { /* defines the features of the signUp button*/
    width: 500px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.team-container { /*sets the default behavior for the team container class*/
    display: flex;
    flex-direction: column;
 }
 
 .team-container img { /*sets the default behavior for images with the team container class*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60vw;
    object-fit: cover;
 }

@media screen and (min-width: 600px) { /* 600 px breakpoint */
    .container {
       flex-direction: row;
    }
 }
 
 @media screen and (min-width: 800px) { /* 800 px breakpoint */
    .team-container img {
       width: 20vw;
    }
    .team-container {
       flex-direction: row;
    }
    .team-container > div {
       margin: 20px;
    }
 }